
<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo" style="padding:30px;">
                    <a hef="home.html" style="font-size:33px;color:#fff;">
                        Beauteeza
                    </a>
                </div>
                <div class="navi">
                    <% include ../partials/navbar %>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="add-project dropdown-toggle" data-toggle="dropdown" style="color:#fff;"> Admin
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Nadeem Shaikh</span>
                                                    <p class="text-muted small">
                                                        nadeem@beauteeza.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    <h1>Hello, Beauteeza Admin</h1>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 gutter">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>200</h3>
                                        <h3>New Users</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>2504</h3>
                                        <h3>Total Users</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>5746</h3>
                                        <h3>Total Bookings</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>5735</h3>
                                        <h3>Service Delivered</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-top-20">
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>354</h3>
                                        <h3>New Salons</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>6853</h3>
                                        <h3>Total Salons</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>535395</h3>
                                        <h3>Amount Collected</h3>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="program">
                                        <i class="fa fa-handshake-o color-white fa-5x" aria-hidden="true"></i>
                                        <h3>35354</h3>
                                        <h3>Total Revenue</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Recent Activities</h2>
                                    <hr/>
                                    <p class="text-justify font-18">A new salon has been added into the system in your system. See the profile and verify it.. <a href="#" class="">[check here]</a></p>
            
                                    <p class="text-justify font-18">The <a href="#" class="">[Salon Name]</a> has been requested for the amount. See the request by  clicking here <a href="#" class="">[paying online]</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

</body>
</html>
