  <!-- Footer -->
  <footer class="page-footer">

      <!-- Footer Links -->
      <div class="container">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="color-white">hello@careerologist.com</h5>
            <p class="color-white font-18">Lorem ipsum dolor sit amet, consectetur adipisicielit,<br/> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="color-white">Our Office</h5>

              <p class="color-white font-18">Lorem ipsum dolor sit amet, consectetur adipisicielit,<br/> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> 
              
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="color-white">Quick Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#" class="font-18 color-white">Privacy Policy</a>
                </li>
                <li>
                  <a href="#" class="font-18 color-white">Desclaimer</a>
                </li>
                <li>
                  <a href="#" class="font-18 color-white">Payment Policy</a>
                </li>
                <li>
                  <a href="#" class="font-18 color-white">Terms & Condition</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 color-white font-18">© 2018 Copyright:
        <a href="#"> Careerologist.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->