<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
        <div class="container">
        <!-- Brand -->
        <a class="navbar-brand dark-green" href="#">CAREEROLOGIST</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PROGRAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li> 
            <li class="nav-item navbar-spacing">
              <a class="nav-link btn btn-success color-white text-dark btn-banner navbar-btn" href="signin">Sign In</a>
            </li> 
            <li class="nav-item navbar-spacing">
              <a class="nav-link btn btn-success color-white text-dark btn-banner navbar-btn" href="book-an-appointment">Book an Appointment</a>
            </li> 
          </ul>
        </div>
        </div>
      </nav>