<ul>
  <li class="active"><a href="/admin/dashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
  <li><a href="/admin/salons-lists"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Salons List</span></a></li>
  <li><a href="/admin/service-lists"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Services List</span></a></li>
  <li><a href="/admin/customer-lists"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Customers List</span></a></li>
  <li><a href="/admin/order-lists"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Orders List</span></a></li>
  <li><a href="/admin/help-and-support"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Help & Support</span></a></li>
  <li><a href="/admin/manage-payment"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Payment</span></a></li>
  <li><a href="/admin/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
  <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
</ul>